---
layout: default
---

{% assign resume = site.data[page.resume_key] %}

<style>
body:has(.resume) .wrapper {
  /* max-width: calc(1040px * 0.8); */
}
.item-header .date {
  margin-left: 1rem;
  font-weight: normal;
  color: var(--text-color-dim);
}
</style>

<div class="resume">

  <header>
    <h1>Demian Ferreiro</h1>
  </header>

  {%- for section in resume.sections -%}
    <h2>{{ section.title }}</h2>
    {%- for item in section.items -%}
      <h3 class="item-header">
        {{ item.role }}, {% if item.link -%}
          <a href="{{ item.link }}">{{ item.org }}</a>
        {%- else -%}
          {{ item.org }}
        {%- endif -%}
        <small class="date">
          {{ "" | split: "" | push: item.time | push: item.location | compact | join: ", " }}
        </small>
      </h3>
      <div>
        {{ item.description | markdownify }}
        <p>{{ item.keywords | join: ", " }}</p>
      </div>
    {%- endfor -%}
  {%- endfor -%}

</div>
